<tr>
    <td>1</td>
    <td>username</td>
    <td>email</td>
    <td>password</td>
    <td>
        <a href="#" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        </td>
        <td>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
 </tr>